<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>
<ul>
  <li><a th:href="@{/variables/string/} + 'Hallo Fran'">/variables/string/Hola Fran</a></li>
  <li><a th:href="@{/variables/string/} + 'wie geths Fran'">/variables/string/wie geths Fran</a></li>
  <li><a th:href="@{/variables/string/} + 'Regards Fran' + '/' + 7">/variables/string/Regards Fran/7</a></li>
</ul>
</body>
</html>